/* --- ESTILOS PARA LOS TEXTOS DE OPCIÓN MÚLTIPLE --- */

/* Si es la respuesta correcta de la base de datos, se ilumina en verde */
/* .correct-answer-text {
  color: #27ae60;
  font-weight: bold;
  transition: color 0.3s ease;
} */

/* Si el usuario falló y eligió esta opción, se tiñe de rojo y se tacha */
/* .incorrect-answer-text {
  color: #c0392b;
  text-decoration: line-through;
  font-weight: 500;
  transition: color 0.3s ease;
} */



input[type="radio"]:checked + label{
  color: #27ae60;
  font-weight: bold;
  transition: color 0.3s ease;
}

input[type="radio"]:not(:checked) + label{
  color: #c0392b;
  text-decoration: line-through;
  font-weight: 500;
  transition: color 0.3s ease;
}


/* --- ESTILOS PARA LOS INPUTS DE RELLENAR EL HUECO (Fill in the blank) --- */

/* Si el texto escrito es idéntico al de la DB, el recuadro se vuelve verde suave */
.input.correct {
  border: 2px solid #2ecc71;
  background-color: #e8f8f5;
  color: #27ae60;
  font-weight: bold;
}

/* Si el texto es incorrecto, el recuadro se vuelve rojo suave */
.input.incorrect {
  border: 2px solid #e74c3c;
  background-color: #fceae9;
  color: #c0392b;
}
